body{
    display: flex;
    max-height: 100vh;
    background: #80a2ff;
    justify-content: center;
    align-items: center;
}

#output-box {
    width: 33vw;
    border: 1.2px solid blue;
    padding: 5px;
    margin-top: 2vh;
    font-size: 15px;
}

fieldset {
    width: 35vw;
    border: 2px solid white;
    padding: 15px;
}


